{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}Savatcha-Cosmetic Store{% endblock %}

{% block content %}

<section class="cart-page">
    <div class="container">
        <h2>Savatcha</h2>

        {% if cart_items %}
        <div class="cart-list">
            {% for item in cart_items %}
            <div class="cart-item">
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                {% else %}
                    <div class="product-img-placeholder"></div>
                {% endif %}

                <div class="cart-item-info">
                    <h3>{{ item.product.name }}</h3>
                    <p class="product-brand">{{ item.product.brand.name }}</p>
                    <p>Miqdor: {{ item.quantity }}</p>
                    <p class="new-price">{{ item.product.final_price|uz_price }}</p>
                </div>

                <div class="cart-item-actions">
                    <a href="{% url 'shop:checkout' item.product.id %}" class="btn-buy-now">Sotib olish</a>
                    <button class="btn-remove" onclick="removeFromCart({{ item.id }})">O'chirish</button>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="cart-total">
            <h3>Jami: {{ total|uz_price }} so'm</h3>
        </div>

        {% else %}
        <p>Savatingiz bo'sh</p>
        {% endif %}
    </div>
</section>

{% endblock %}